.body {
    margin: 0;
    height: 2000px;
    background: black;
}
.bgImg {
    background: linear-gradient(to top, black, transparent);
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
}