.body {
    margin: 0;
    height: 1500px;
    background: black;
    align-items: center;
}

.poster {
    --width: 300px; 
    width: var(--width);
    height: calc(var(--width) * 3 / 2);
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    object-fit: cover; 
}
