.body {
    margin: 0;
    height: 1500px;
    background: black;
    align-items: center;
}


.sliderWrapper {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%; /* Ensure the wrapper takes full width */
  }
  
  .sliderContainer {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: calc(7 * 210px); /* Display 7 posters at a time, considering 200px width + 10px gap */
    gap: 10px;
  }
  .poster {
    width: 200px;
    height: auto;
    /* flex-shrink: 0; */
    border-radius: 10px;
    margin-right: 10px;
}

.slideButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    border-radius: 5px;
  }
  
  .slideButton:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .slideButton:nth-child(1) {
    left: 0;
  }
  
  .slideButton:nth-child(3) {
    right: 0;
  }