.okButton {
    background: red;
    color: white;
    padding: 0.3em 1em;
    margin: 6px;
    font-size: 1.5em;
    border-radius: 6px;
    &:hover {
      border-color: red;
      box-shadow: 0 0.5em 0.5em -0.4em white;
    }
}

.cancelButton {
  background: white;
  color: black;
  padding: 0.3em 1em;
  margin: 6px;
  font-size: 1.5em;
  border-radius: 6px;
  &:hover {
    border-color: red;
    box-shadow: 0 0.5em 0.5em -0.4em white;
  }
}